@model IEnumerable<MovieApp.data.Models.Director>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <tr>
        Title
    </tr>

    <tr>
        Language
    </tr>
    @foreach (var list in Model)
    {
        <tr>
            @list.Firstname
        </tr>

        <tr>
            @list.Lastname
        </tr>
    }

</table>